html {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-areas: "header" "main";
}

header {
  position: relative;
  grid-area: header;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45%;
}

img {
  height: 150px;
}

main {
  position: relative;
  grid-area: main;
  width: 100%;
  height: 85vh;
  padding-top: 40px;
  background: url('./background.png');
  background-size: cover;
}

.fa-star {
  color: rgb(255, 204, 0);
}

.fa-running {
  color: gray;
}

.fa-bell {
  color: green;
}

article {
  width: 500px;
  margin: 0 0 5% 10%;
}

.bars {
  position: absolute;
  top: 15%;
  right: 10%;
  display: flex;
  align-items: center;
}

.red-bar {
  content: '';
  background-color: red;
  height: 400px;
  width: 35px;
  margin-right: 10px;
}

.blue-bar {
  content: '';
  background-color: blue;
  height: 500px;
  width: 35px;
}