img{
  height: 200px;
}

h1{
  display: inline;
}

li{
  display: inline;
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
}

.icons{
  height: 30px;
  display: inline;
}

.profile{
  height: 200px;
  border-radius: 200px;
}

.nav{
  display: grid;
  grid-template-columns: repeat(4, 1fr)
}

.logo{
    float:right;

}