img{
  height: 200px;
}

body{
  background-image: url('./background.png');
  background-repeat: no-repeat;
}

h1{
  display: inline;
  text-align: justify;
  font-size: 45px;
  margin-top: 5px;
}

li{
  display: inline;
  text-align: center;
  padding-bottom: 10px;
  font-size: 20px;
}

li:hover{
  color: gray;
}

.icons{
  height: 30px;
  display: inline;
}

.profile-pic{
  height: 400px;
  border-radius: 200px;
  margin-left: 99px;
  margin-right: 99px;
}

.nav{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #95dbcf;
  border-right: 50px;
  color: white;
  padding: 10px;
}

.logo{
  float:right;
  height: 80px;
  margin: 10px;

}

.profile{
display: grid;
grid-template-columns: 1fr 500px 1fr
}

.bio{
  display: grid;
  grid-template-rows: 100px 1fr 60px;
  justify-items: center;
}

.arrow{
  height: 60px;
  margin-right: auto;
  margin-left: auto;
}

.Mobile {
  visibility: hidden;
}

@media screen and (max-width: 992px) {
  .Mobile {
    visibility: visible;
  }
  .arrow {
    visibility: hidden;
  }
  .Rewards {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: rgb(239, 167, 168);
    border-radius: 40px;
    border: 3px solid darkgray;
    box-shadow: 2px 2px 15px black;
  }
  .fa-star {
    color: rgb(255, 204, 0);
  }
}